.navbar {
	background-color: #e3f2fd;
	height: 90px;
}

.navbar-brand {
	font-size: 28px;
}

#tagline {
	font-size: 0.80em;
}

#main-panel {
	margin-top: 24px;
}

#img {
	width: 300px;
	height: 300px;
	border-radius: 3px;
	margin: 10px 15px 15px 0;
}

#screen_name {
	font-size: 0.9em;
}

#bio {
	margin-top: 10px;
}

#prediction-panel {
	padding-left: 0;
}

.prediction {
	font-weight: 700;
	font-size: 1.05;
	width: 370;
	text-align: right;
}

.prediction-wrapper {
	clear: both;
}

.prediction-category {
	width: 80px;
	text-align: right;
	display: inline-block;;
	padding-bottom: 5px;
	padding-top: 20px;
}

.plot-wrapper {
	width: 370px;
}

.vega-embed {
	padding-right: 0
}

#about {
	margin-top: 5px;
	padding: 10px;
	/*border-top: 0.5px solid #AAA;*/
}

#age, #org, #gender {
	display: none;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }