<!doctype html>
<head>
<title>M3 Multimodal, Multiattribute, Multilingual Demo</title>
<link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/style.css"/>
<script src="static/jquery-3.4.1.min.js"></script>
<script src="static/jquery.autocomplete.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5.3.5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.2.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@gjmcn/vizsla@0/dist/index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/m3.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-21293169-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-21293169-6');
</script>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand">
        <div class="container">
          <div class="navbar-nav">
            
            <span class="navbar-brand" href="#">M3 
              <span id="tagline">multimodal, multiattribute, multilingual:</span>
            </span>

            <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input class="form-control mr-sm-2" type="search" placeholder="Twitter screen name" id="screen_name_input" aria-label="Search" aria-describedby="basic-addon1">
                <button class="btn btn-outline-primary my-2 my-sm-0" id="m3submit" type="submit">Predict</button>
              </div>
            </form>

        </div>
      </div>
    </nav>

    <!-- main content -->
    <div class="container" id="main-panel">

      <h5><span id="name"></span><span id="screen_name"></span></h5>
      <div class="row">

        <!-- image and bio -->
        <div class="col-12 col-md-6">
          <p id="bio"></p>
          <img id="img" src="static/placeholder.png">
        </div>

        <!-- prediction viz -->
        <div class="col-12 col-md-6" id="prediction-panel">

          <!--tabs -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="viz-tab" data-toggle="tab" href="#viz" role="tab" aria-controls="viz" aria-selected="true">Visualised</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json" aria-selected="false">JSON</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="viz" role="tabpanel" aria-labelledby="viz-tab">
                  <div id="org">
                      <div class="prediction-wrapper" id="org-wrapper">
                        <div class="prediction-category" id="org-label">Account:</div>
                        <span id="org-prediction" class="prediction"></span>
                      </div>  
                      <div class="plot-wrapper">
                        <div id="org-plot" class="float-right"></div>
                      </div>
                    </div>
                  <div id="gender">
                  <div class="prediction-wrapper">
                      <div class="prediction-category" id="gender-label">Gender:</div>
                      <span id="gender-prediction" class="prediction"></span>
                    </div>
                    <div class="plot-wrapper">
                      <div id="gender-plot" class="float-right"></div>
                    </div>
                  </div>
                  <div id="age">
                    <div class="prediction-wrapper" id="age-wrapper">
                      <div class="prediction-category" id="age-label">Age:</div>
                      <span id="age-prediction" class="prediction"></span>
                    </div>
                    <div class="plot-wrapper">
                      <div id="age-plot" class="float-right"></div>
                    </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="json" role="tabpanel" aria-labelledby="json-tab">
                  <pre id="output"></pre>
              </div>
            </div>          
      </div>


    </div>
  </div>

    <div class="row">
        <div class="container">
        <div class="col-12 col-md-12"  id="about">
          <h4>Learn more</h4>
            <p>
              M3 is a deep learning system that infers demographic attributes directly from social media profiles&mdash;no further data is needed. This web demo showcases M3 on Twitter profiles, 
              but M3 works on any similar profile data, in 32 languages. To learn more, please see our <a href="https://github.com/euagendas/m3inference">open-source Python library m3inference</a> 
              or <a href="https://doi.org/10.1145/3308558.3313684">read our Web Conference (WWW) 2019 paper</a> for details. The paper also includes fully interpretable multilevel regression methods that estimate inclusion probabilities uisng the inferred demographic attributes
              to correct for sampling biases on social media platforms.
  
            </p>
            
            <p>This web demo was created by <a href="http://www.oii.ox.ac.uk/people/hale/">Scott Hale</a> and <a href="https://www.oii.ox.ac.uk/people/graham-mcneill/">Graham McNeill</a>. 
            The plots are produced with the <a href="https://github.com/gjmcn/vizsla">Visla JavaScript API for Vega-Lite</a>, and the <a href="https://github.com/euagendas/m3webdemo">source code</a> for this webapp is freely available.
            The research leading to M3 was carried out by 
            <a href="https://github.com/zijwang">Zijian Wang</a>, 
            <a href="http://www.oii.ox.ac.uk/people/hale/">Scott A. Hale</a>, 
            <a href="https://www.mpi-sws.org/people/dadelani/">David Adelani</a>, 
            <a href="https://www.cics.umass.edu/people/grabowicz-przemyslaw">Przemyslaw A. Grabowicz</a>, 
            <a href="https://www.researchgate.net/profile/Timo_Hartmann3">Timo Hartmann</a>, 
            <a href="https://www.gesis.org/person/fabian.floeck">Fabian Fl&ouml;ck</a>, and 
            <a href="https://www.si.umich.edu/people/david-jurgens">David Jurgens</a>.
          </p>
        </div>
        </div>
    </div>

</body>
