<!doctype html>
<head>
<title>M3 Multimodal, Multiattribute, Multilingual Demo</title>
<link rel="stylesheet" type="text/css" href="static/style.css"/>
<script language="JavaScript" src="static/jquery-3.4.1.min.js"></script>
<script language="JavaScript" src="static/m3.js"></script>
</head>
<body>
  <h1>M3: Multimodal, Multiattribute, Multilingual Demo</h1>

  <form>
    @<input id="screen_name_input" name="screen_name" type="text" width="25px">
    <input id="m3submit" type="submit">
  </form>

  <div id="input">
    <img id="img" src="static/placeholder.png" width="400px" height="400px"/>
    <dl class="attributes">
      <dt>screen name</dt>
      <dd id="screen_name">&nbsp;</dd>
      <dt>Name</dt>
      <dd id="name">&nbsp;</dd>
      <dt>Biography</dt>
      <dd id="bio">&nbsp;</dd>
      <!--<dt>Language</dt>
      <dd>{{ lang }}</dd>-->
    </dl>

  </div>

  <div>
    <pre id="output">

    </pre>
  </div>

</body>
